.news-heading{
  font-size: larger;
  padding: 10px;
  list-style: none;
}

.news-heading a{
text-decoration: none;
color: black;
list-style: none;
}

.news-container{
 font-size: 0.78rem;
 margin: 8px;
 cursor: pointer;
 transition: all 0.5s ease-in-out;
}
.principal-image{
width: 10rem;
height: auto;
}
.principal-text{
font-size: 1.1rem;
margin: 17px;
}
.principal-card{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.411), 0 0 6px rgba(0, 0, 0, 0.404);
}

@media only screen and (max-width: 380px){
.principal{
  padding: 0px 40px 0px 40px;
}
.principal-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.principal-text{
font-size: 0.9rem;
margin: 0;
}
.news-container{
 font-size: 0.70rem;
 margin: 0px;
}
.news-heading{
  padding: 7px;
}
.principal-image{
width: 8rem;
}
.principal-heading{
margin: -10px;
font-size: 1.4rem;
}
.news-container{
margin:0 -20px;
}




}